.container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color:#c9ccea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
    background: rgba(8, 8, 17,0.2);
    border-radius: 20px;
    font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    
}
  .container h1 {
    font-size:2.8rem;
    margin:0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.09),
    0 4px 4px rgba(0, 0, 0, 0.09), 0 8px 8px rgba(0, 0, 0, 0.09),
    0 16px 16px rgba(0, 0, 0, 0.09), 0 32px 32px rgba(0, 0, 0, 0.09);
  }
  
  .container .labels {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-size: .8rem;
    padding:.4rem .3rem;
    margin-top: .8rem;

    
    background-color: #32587a;


    border-radius: 1.5rem;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.637) 0px 5px 15px;
    
  }

  ul.labels {
    letter-spacing: 2px;
  }

  button.settings-btn {
    border-radius: 1.5rem;
    background-color: #32587a;
    
  }

  button.settings-btn:hover {
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .settings-btn:hover{
    background-color: #32587a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .settings:hover {
    scale: 1.02;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px!important;
    background-color: #32587a!important;
  }

  .active-label {
    color: #0C0E1B;
    background-color: #f1eeee;
    border-radius: 1.5rem;
  }
  
  .timer-container {
    display: flex;
    flex:2;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
  }
  
  .time-wrapper {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    width: 15rem;
    border-radius: 7.5rem;
    color:ivory;
    background: transparent;
    font-size: 3.5rem;
    box-shadow: .8rem 1.2rem 2rem rgba(0,0,0,0.6)
  }
  
  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding:2rem;
    border-radius: 5px;
  }
  
  button {
    color:#efefef;
    font-size:0.8rem;
    padding: 0.5rem 1.2rem;
    border:none;
    border-radius:3rem;
    margin:0.2rem;;
    background:#0c0e1be5;
    min-width: 80px;
    cursor: pointer;
  }
  
  .button-wrapper button.active {
    color: #0C0E1B;
    background-color: #f1eeee;
    border: 1px solid #0C0E1B;
    border-radius: 5px;
  }

  .active:hover {
    background-color: #2b4c68!important;
  }
  .form-container {
    text-align: center;
  }
  .input-wrapper {
    margin: 1.2rem;
    display: flex;
    flex-direction: column;
    padding: 2px;
  }

  .input-wrapper p {
    margin-top: 10px;
    margin-bottom: 3px;
  }

  .input-wrapper input {
    border-radius: 5px;
    text-align: center;
  }