.weather-app {
    font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.weather-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
    color: ivory;
    position: fixed;
    right: 3%;
    top: 14%;
}

.bold{
    height: 0px;
}
.weather-container:hover{
    transform: scale(1.02);
}

.svg-icon {
    width: 140px;
    margin-bottom: -10px;
}

.weather-temp h1{
    font-size: 25px;
}

.weather-description p {
    font-size: 12px;
}

